.title {
  margin-top: 30px ;
  margin-left: 150px ;
  margin-right: 150px ;
  color: orange ;
  text-align: center ;
}

#clearList {
  align-items: center ;
  justify-content: center ;
  background: #fff;
  border: 0 ;
  border-radius: 62.5rem ;
  font-weight: 700 ;
  box-shadow: inset 0 0 0 .0625rem #2e2f32 ;
  width: 115px ;
  height: 2rem;
  text-align: center ;
  display: block;
  margin: auto;
}

#clearList:hover {
  box-shadow: inset 0 0 0 .125rem #2e2f32 ;
}

#clearList:active {
  background: #000;
  color: white ;
}

.listButton {
  margin-top: 20px ;
  width: 100% ;
}

.listButton:active {

}

.listButton:hover {

}

.listContainer {
  display: block ;
  clear: both ;
}

.list {
  padding-left: 20px ;
  float: left;
}

.item {
  padding-bottom: 5px ;
}

p {
  clear: left ;
}
